In [ ]:
! pip install hazm

In [228]:
from collections import Counter
import pandas as pd
import hazm as hz

In [342]:
topic = 'sports'
result = pd.read_csv('./drive/MyDrive/Colab Notebooks/topic_words/'+topic+'_tweets.csv')

In [343]:
import numpy as np

hash_dict = {}
for i,row in result.iterrows():
  if type(row['Hashtags']) != float:
    tokens = ((row['Hashtags'].replace('[',',')).replace(']', ',')).split(',') 
    for t in tokens:
      hash_dict[t] = 0
for i,row in result.iterrows():
  if type(row['Hashtags']) != float:
    tokens = ((row['Hashtags'].replace('[',',')).replace(']', ',')).split(',') 
    for t in tokens:
      # print(t)
      hash_dict[t] = hash_dict[t] + 1

new_dict=pd.DataFrame((sorted(hash_dict.items(), key=lambda item: item[1])))
new_dict.to_csv('./drive/MyDrive/Colab Notebooks/topic_words/'+topic+'_hashtags.csv',index=False)

In [344]:
new_dict.tail(20)

                         0     1
1854   'Ù„ÛŒÚ¯_Ù‚Ù‡Ø±Ù…Ø§Ù†Ø§Ù†_Ø¢Ø³ÛŒØ§'    46
1855     'ÙØ¯Ø±Ø§Ø³ÛŒÙˆÙ†_ÙÙˆØªØ¨Ø§Ù„'    51
1856          'Ù…Ù‡Ø¯ÛŒ_Ø·Ø§Ø±Ù…ÛŒ'    58
1857           'Qatar2022'    63
1858               'Ú©Ø±ÙˆÙ†Ø§'    65
1859           'Tokyo2020'    68
1860               'Ø§ÛŒØ±Ø§Ù†'    74
1861              'Ø§Ù„Ù…Ù¾ÛŒÚ©'    79
1862             'ÙˆØ§Ù„ÛŒØ¨Ø§Ù„'    81
1863              'Ø§Ù„Ù…Ù¾ÛŒÚ©'    82
1864               'Ú©Ø±ÙˆÙ†Ø§'    97
1865               'Ø§ÛŒØ±Ø§Ù†'   108
1866             'Ø§Ø³ØªÙ‚Ù„Ø§Ù„'   124
1867              'ÙÙˆØªØ¨Ø§Ù„'   147
1868            'Ù„ÛŒÚ¯_Ø¨Ø±ØªØ±'   178
1869            'Ù¾Ø±Ø³Ù¾ÙˆÙ„ÛŒØ³'   180
1870             'Ø§Ø³ØªÙ‚Ù„Ø§Ù„'   225
1871              'ÙÙˆØªØ¨Ø§Ù„'   267
1872            'Ù¾Ø±Ø³Ù¾ÙˆÙ„ÛŒØ³'   278
1873                        9152

In [345]:
normalizer = hz.Normalizer()
for i, row in result.iterrows():
  row['Text'] = normalizer.normalize(str(row['Text']))

In [346]:
# result

In [347]:
stop_words = pd.read_csv('./drive/MyDrive/Colab Notebooks/topic_words/fa_stop_words.csv')
stop_words.rename(columns={'ÛŒ':'word'}, inplace=True)
# stop_words

In [348]:
stop_words = list(stop_words['word'])

In [349]:
normalizer = hz.Normalizer()

for i in range(len(stop_words)):
  stop_words[i] = normalizer.normalize(str(stop_words[i]))

# stop_words

In [350]:
# stop_words = stopwords.words(â€˜englishâ€™) + [â€˜Atâ€™, â€˜vâ€™, â€˜3â€™]
# apply the same code as above but assign
# a new column to see the differences
result['clean_text'] = result['Text'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))

In [351]:
result['clean_text']

0       Ø¢ØºØ§Ø² ÙØ±ÙˆØ´ Ø§ÛŒÙ†ØªØ±Ù†ØªÛŒ Ø¨Ù„ÛŒØª Ø¨Ø§Ø²ÛŒ Ø§ÛŒØ±Ø§Ù† Ø¹Ø±Ø§Ù‚ ÙØ¯Ø±Ø§Ø³ÛŒ...
1       Ø§Ø®ØªÙ„Ø§Ù„ Ø³Ø§ÛŒØª ÙØ±ÙˆØ´ Ø¨Ù„ÛŒØª Ø¨Ø§Ø²ÛŒ Ø§ÛŒØ±Ø§Ù†-Ø¹Ø±Ø§Ù‚ Ø­Ø§Ù„ÛŒ Ø§Ø¹Ù„...
2       Ù‚Ø§ÛŒØ¯ÛŒ Ø¢Ø®Ø±ÛŒÙ† Ù‚Ø±Ø¨Ø§Ù†ÛŒ #Ú©Ø±ÙˆÙ†Ø§ Ø¢Ø®Ø±ÛŒÙ† Ù…Ø±Ø­Ù„Ù‡ ØªØ³Øªâ€ŒÚ¯ÛŒØ±ÛŒ...
3       ÙˆÙ†Ø¯ÛŒ Ø´Ø±Ù…Ù†: Ù¾ÙˆØªÛŒÙ† Ø­Ù…Ù„Ù‡ Ø§ÙˆÚ©Ø±Ø§ÛŒÙ† Ø§ÙˆØ§Ø³Ø· ÙÙˆØ±ÛŒÙ‡ Ø·Ø±Ø­â€Œ...
4       Ø¯Ø±Ø§Ú¯Ø§Ù† Ø§Ø³Ú©ÙˆÚ†ÛŒÚ† Ú©Ø±ÛŒÙ… Ø§Ù†ØµØ§Ø±ÛŒâ€ŒÙØ±Ø¯ Ø¯ÛŒØ¯Ø§Ø± Ù†Ù…Ø§ÛŒÙ†Ø¯Ù‡ Ùˆ...
                              ...
9995    Ø³Ù‡Ø§Ù… #Ø§Ø³ØªÙ‚Ù„Ø§Ù„ #Ù¾Ø±Ø³Ù¾ÙˆÙ„ÛŒØ³ Û² Ù…Ø§Ù‡ Ø¢ÛŒÙ†Ø¯Ù‡ Ø¨ÙˆØ±Ø³ Ù…ÛŒâ€ŒØ´Ùˆ...
9996    â™¦ï¸ØªØ³Øª Ú©Ø±ÙˆÙ†Ø§ÛŒ #Ø§ÙˆØ³ÛŒÙ†_Ø¨ÙˆÙ„Øª Ù…Ø«Ø¨Øª Ø§Ø¹Ù„Ø§Ù… ØªØ³Øª #Ú©Ø±ÙˆÙ†Ø§...
9997    Ø¨ÙˆÙ„Øª Ú©Ø±ÙˆÙ†Ø§ ØªØ³Øª Ú©Ø±ÙˆÙ†Ø§ÛŒ Â«Ø§ÙˆØ³ÛŒÙ† Ø¨ÙˆÙ„ØªÂ» Ø¯Ø§Ø±Ù†Ø¯Ù‡ Ù‡Ø´Øª ...
9998    Ø³Ø®Ù†Ú¯ÙˆÛŒ Ø¯Ø³ØªÚ¯Ø§Ù‡ Ù‚Ø¶Ø§: ğŸ”¹Ø¯Ø± Ø®ØµÙˆØµ Ù¾ÛŒÚ¯ÛŒØ±ÛŒ Ù…Ø³Ø¦Ù„Ù‡ Ù‚Ø±Ø§Ø±Ø¯...
9999    Ø³Ø±Ø§Ù†Ø¬Ø§Ù… #Ø±ÙˆÙ†Ø§Ù„Ø¯ÛŒÙ†ÛŒÙˆ Ø¢Ø²Ø§Ø¯ Ø§Ø¨Ø± Ø³ØªØ§Ø±Ù‡ ÙÙˆØªØ¨Ø§Ù„ Ø¬Ù‡Ø§Ù†...
Name: clean_text, Length: 10000, dtype: object

In [352]:
# result

In [353]:
# stop_words

In [354]:
words_count = pd.DataFrame(Counter(" ".join(result['clean_text']).split()).most_common(250))
words_count.rename(columns={0:'word', 1:'count'}, inplace=True)
words_count.to_csv('./drive/MyDrive/Colab Notebooks/topic_words/'+topic+'_words.csv',index=False)

In [355]:
words_count.head(50)

        word  count
0        ØªÛŒÙ…   5426
1      Ø§ÛŒØ±Ø§Ù†   3889
2     ÙÙˆØªØ¨Ø§Ù„   3312
3        Ù…Ù„ÛŒ   2499
4        Ù„ÛŒÚ¯   1992
5   ÙØ¯Ø±Ø§Ø³ÛŒÙˆÙ†   1647
6   Ù¾Ø±Ø³Ù¾ÙˆÙ„ÛŒØ³   1643
7       Ø¢Ø³ÛŒØ§   1566
8    Ø§Ø³ØªÙ‚Ù„Ø§Ù„   1361
9     Ø§Ù„Ù…Ù¾ÛŒÚ©   1338
10   Ù…Ø³Ø§Ø¨Ù‚Ø§Øª   1246
11     Ø¯ÛŒØ¯Ø§Ø±   1115
12       Ø¬Ø§Ù…   1111
13      Ø¨Ø§Ø²ÛŒ   1083
14    Ø¨Ø§Ø´Ú¯Ø§Ù‡   1076
15     Ø§Ø¹Ù„Ø§Ù…   1032
16       Ø´Ø¯.    969
17     Ø¬Ù‡Ø§Ù†ÛŒ    964
18      Ø­Ø¶ÙˆØ±    958
19         -    955
20      ÙˆØ±Ø²Ø´    907
21  Ù‚Ù‡Ø±Ù…Ø§Ù†Ø§Ù†    889
22      Ø§Ø³Øª.    721
23        Ú¯Ù„    712
24   Ù‚Ù‡Ø±Ù…Ø§Ù†ÛŒ    711
25      Ù…Ø¯Ø§Ù„    706
26      Ø´Ú©Ø³Øª    699
27      Ù‚Ø±Ø§Ø±    697
28    Ø³Ø±Ù…Ø±Ø¨ÛŒ    685
29       Ø³Ø§Ù„    651
30      Ú©Ø±Ø¯.    637
31     Ù…Ø±Ø­Ù„Ù‡    627
32     ÙÛŒÙ†Ø§Ù„    618
33    Ø¨Ø§Ø²ÛŒÚ©Ù†    611
34     Ù¾Ø§ÛŒØ§Ù†    609
35      Ù‡ÙØªÙ‡    608
36      Ø¬Ù‡Ø§Ù†    604
37         |    604
38    Ø¨Ø±Ú¯Ø²Ø§Ø±    599
39      Ø¨Ø±ØªØ±    597
40     Ù†Ù‡Ø§ÛŒÛŒ    591
41       Ø±ÙˆØ²    582
42      Ø±Ø¦ÛŒØ³    576
43     ØªÙˆÚ©ÛŒÙˆ    573
44      ØµØ¹ÙˆØ¯    544
45      ÙˆØ²ÛŒØ±    525
46    Ù¾ÛŒØ±ÙˆØ²ÛŒ    517
47      Ú©Ø´ÙˆØ±    501
48         Û²    492
49       Ú©Ø³Ø¨    491