In [ ]:
! pip install hazm

In [228]:
from collections import Counter
import pandas as pd
import hazm as hz

In [342]:
topic = 'sports'
result = pd.read_csv('./drive/MyDrive/Colab Notebooks/topic_words/'+topic+'_tweets.csv')

In [343]:
import numpy as np

hash_dict = {}
for i,row in result.iterrows():
  if type(row['Hashtags']) != float:
    tokens = ((row['Hashtags'].replace('[',',')).replace(']', ',')).split(',') 
    for t in tokens:
      hash_dict[t] = 0
for i,row in result.iterrows():
  if type(row['Hashtags']) != float:
    tokens = ((row['Hashtags'].replace('[',',')).replace(']', ',')).split(',') 
    for t in tokens:
      # print(t)
      hash_dict[t] = hash_dict[t] + 1

new_dict=pd.DataFrame((sorted(hash_dict.items(), key=lambda item: item[1])))
new_dict.to_csv('./drive/MyDrive/Colab Notebooks/topic_words/'+topic+'_hashtags.csv',index=False)

In [344]:
new_dict.tail(20)

                         0     1
1854   'لیگ_قهرمانان_آسیا'    46
1855     'فدراسیون_فوتبال'    51
1856          'مهدی_طارمی'    58
1857           'Qatar2022'    63
1858               'کرونا'    65
1859           'Tokyo2020'    68
1860               'ایران'    74
1861              'المپیک'    79
1862             'والیبال'    81
1863              'المپیک'    82
1864               'کرونا'    97
1865               'ایران'   108
1866             'استقلال'   124
1867              'فوتبال'   147
1868            'لیگ_برتر'   178
1869            'پرسپولیس'   180
1870             'استقلال'   225
1871              'فوتبال'   267
1872            'پرسپولیس'   278
1873                        9152

In [345]:
normalizer = hz.Normalizer()
for i, row in result.iterrows():
  row['Text'] = normalizer.normalize(str(row['Text']))

In [346]:
# result

In [347]:
stop_words = pd.read_csv('./drive/MyDrive/Colab Notebooks/topic_words/fa_stop_words.csv')
stop_words.rename(columns={'ی':'word'}, inplace=True)
# stop_words

In [348]:
stop_words = list(stop_words['word'])

In [349]:
normalizer = hz.Normalizer()

for i in range(len(stop_words)):
  stop_words[i] = normalizer.normalize(str(stop_words[i]))

# stop_words

In [350]:
# stop_words = stopwords.words(‘english’) + [‘At’, ‘v’, ‘3’]
# apply the same code as above but assign
# a new column to see the differences
result['clean_text'] = result['Text'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))

In [351]:
result['clean_text']

0       آغاز فروش اینترنتی بلیت بازی ایران عراق فدراسی...
1       اختلال سایت فروش بلیت بازی ایران-عراق حالی اعل...
2       قایدی آخرین قربانی #کرونا آخرین مرحله تست‌گیری...
3       وندی شرمن: پوتین حمله اوکراین اواسط فوریه طرح‌...
4       دراگان اسکوچیچ کریم انصاری‌فرد دیدار نماینده و...
                              ...
9995    سهام #استقلال #پرسپولیس ۲ ماه آینده بورس می‌شو...
9996    ♦️تست کرونای #اوسین_بولت مثبت اعلام تست #کرونا...
9997    بولت کرونا تست کرونای «اوسین بولت» دارنده هشت ...
9998    سخنگوی دستگاه قضا: 🔹در خصوص پیگیری مسئله قرارد...
9999    سرانجام #رونالدینیو آزاد ابر ستاره فوتبال جهان...
Name: clean_text, Length: 10000, dtype: object

In [352]:
# result

In [353]:
# stop_words

In [354]:
words_count = pd.DataFrame(Counter(" ".join(result['clean_text']).split()).most_common(250))
words_count.rename(columns={0:'word', 1:'count'}, inplace=True)
words_count.to_csv('./drive/MyDrive/Colab Notebooks/topic_words/'+topic+'_words.csv',index=False)

In [355]:
words_count.head(50)

        word  count
0        تیم   5426
1      ایران   3889
2     فوتبال   3312
3        ملی   2499
4        لیگ   1992
5   فدراسیون   1647
6   پرسپولیس   1643
7       آسیا   1566
8    استقلال   1361
9     المپیک   1338
10   مسابقات   1246
11     دیدار   1115
12       جام   1111
13      بازی   1083
14    باشگاه   1076
15     اعلام   1032
16       شد.    969
17     جهانی    964
18      حضور    958
19         -    955
20      ورزش    907
21  قهرمانان    889
22      است.    721
23        گل    712
24   قهرمانی    711
25      مدال    706
26      شکست    699
27      قرار    697
28    سرمربی    685
29       سال    651
30      کرد.    637
31     مرحله    627
32     فینال    618
33    بازیکن    611
34     پایان    609
35      هفته    608
36      جهان    604
37         |    604
38    برگزار    599
39      برتر    597
40     نهایی    591
41       روز    582
42      رئیس    576
43     توکیو    573
44      صعود    544
45      وزیر    525
46    پیروزی    517
47      کشور    501
48         ۲    492
49       کسب    491